body{
    background-image: url('https://scontent.flim28-1.fna.fbcdn.net/v/t39.30808-6/241111817_4339272686151424_8308728316801207550_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=973b4a&_nc_ohc=KedbgP0DFNsAX9nviSH&_nc_ht=scontent.flim28-1.fna&oh=00_AT-zK8ENgzOxxnGvLyHl2UFgcmy9MDAowQ4zbFzGOt16UA&oe=61C13CA3');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#thirdDiv img{
    width: 400px;
    border: 5px solid white;
    border-radius: 30px;    
}

#thirdDiv{
    width: 500px;
    padding: 50px;
    border: 5px solid black;
    border-radius: 30px;
    margin: auto;
    margin-top: 10px;
}

ul{
    list-style-type: none !important;
}

#spanId{
    font-family: 'montserrat';
    font-size: 30px;
    margin: 50px;
    font-weight: bold;
}
h1 h3 h4{
    font-family: 'montserrat';
}
h1{
    font-size: 40px;
}
h3{
    font-size: 30px;
    color: yellow;
    margin-bottom: 0px;
}
h4{
    font-size: 20px;
    margin-top: 0px;
}

.divClass a{
    font-family: 'montserrat';
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
}